@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCSS HEX */
$uranian-blue: #add7f6ff;
$jordy-blue: #87bfffff;
$chefchaouen-blue: #3f8efcff;
$neon-blue: #2667ffff;
$chrysler-blue: #3b28ccff;

/* SCSS HSL */
$uranian-blue: hsla(205, 80%, 82%, 1);
$jordy-blue: hsla(212, 100%, 76%, 1);
$chefchaouen-blue: hsla(215, 97%, 62%, 1);
$neon-blue: hsla(222, 100%, 57%, 1);
$chrysler-blue: hsla(247, 67%, 48%, 1);

/* SCSS RGB */
$uranian-blue: rgba(173, 215, 246, 1);
$jordy-blue: rgba(135, 191, 255, 1);
$chefchaouen-blue: rgba(63, 142, 252, 1);
$neon-blue: rgba(38, 103, 255, 1);
$chrysler-blue: rgba(59, 40, 204, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-right: linear-gradient(
  90deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-bottom: linear-gradient(
  180deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-left: linear-gradient(
  270deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-top-right: linear-gradient(
  45deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-top-left: linear-gradient(
  225deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
$gradient-radial: radial-gradient(
  #add7f6ff,
  #87bfffff,
  #3f8efcff,
  #2667ffff,
  #3b28ccff
);
